<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74827752977-sa651lpsfp6mgepql9umo0jeobktsu5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74827752977-sa651lpsfp6mgepql9umo0jeobktsu5c</string>
	<key>API_KEY</key>
	<string>AIzaSyA1mTZTqeE6JJ2qQ_HN6f-kbuZe5kZiXs4</string>
	<key>GCM_SENDER_ID</key>
	<string>74827752977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doriionline.findo</string>
	<key>PROJECT_ID</key>
	<string>findo-fa4bd</string>
	<key>STORAGE_BUCKET</key>
	<string>findo-fa4bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74827752977:ios:1c6fd2b472bc7c5208b3b0</string>
</dict>
</plist>